html {
    background:
        linear-gradient(rgb(97, 97, 97), transparent),
        linear-gradient(to top left, rgb(29, 29, 29), transparent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: rgb(0, 174, 255);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav {
    text-align: center;
    padding: 10px 10px;
}

nav a:hover {
    border-bottom: 4px solid rgb(255, 0, 0);
}

h1 {
    color: rgb(0, 0, 128);
    font-size: 32px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: rgb(0, 69, 173);
    font-size: 28px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    color: rgb(0, 99, 192);
    font-weight: 200;
    text-align: right;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6 {
    color: rgb(0, 59, 114);
    font-size: 12px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: rgb(22, 71, 161);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #00aeba;
    float: right;
}

footer {
    text-align: center;
    padding: 3px;
}
