[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = farkasszili
	email = farkasszili32@gmail.com
[safe]
	directory = %(prefix)///jasrv-fs/jaszk_munka$/tanulo/10A/farkas.szilard
