body{
    font-family: sans-serif;
    background-image: url("hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#leiras{
	background-image: url('keret.png');
	width: 880px;
	margin-top: 50px;
  padding: 35px;
	
}

h1, h2{
	color: grey;
	font-variant: small-caps;
	text-shadow: 1px 1px rgb(195, 180, 180);
}

p{
  text-indent: 35px;
  text-align: justify;
  letter-spacing: -0.1px;
  line-height: 150%;
}

.kepkeret {
  width: 375px;
  float: right;
  text-align: center;
  font-size: 75%;
  padding: 0px 5px 5px;
  margin-left: 10px;
  background-image: url('keret.png');
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 10px 10px 10px yellow;  
  font-style: italic;
  border: 2px dimgray;
  position: relative;
  left: -1%;
}

.kepkeret img{
	width: 385px;
	position: relative;
	left: -5px;
}


a{
  text-decoration: none;
  font-weight: bold;
}

ul{
  line-height: 1.5;
  margin-bottom: 25px; 
}

.navbar {
  background-color: #252525;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: rgb(255, 255, 0);
  text-align: center;
  padding: 14px 46px;
  text-decoration: none;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a:hover {
  background-color: #a7cc02;
  color: black;
}

.navbar a.vege {
  float: right;
  background-color: #6f7700;
  color: white;
}

@media screen and (max-width: 920px) {
  .navbar a {
    padding: 4px 12px;
  }
}

@media screen and (max-width: 720px) {

  .navbar a {
    padding: 4px 12px;
  }

  * {
    font-size: 20px;
    font-weight: bold;
  }

  h1, h2 {
    text-align: center;
    font-size: 36px;
  }

  .kepkeret {
    width: 280px;
    font-size: 70%;
    margin-left: 0%;
    left: -5%;
  }

  .kepkeret img {
    width: 300px;
  }

  #leiras {
    width: 300px;
	  margin-top: 10px;
    padding: 5px;
  }
}